/* Cart.css */
.cart-container {
    max-width: 800px;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .cart-empty {
    text-align: center;
    padding: 50px;
  }
  
  .start-shopping a {
    color: #4caf50;
  }
  
  .titles {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
  }
  
  .cart-items {
    margin-top: 20px;
  }
  
  .cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
  }
  
  .cart-product img {
    max-width: 50px;
    height: auto;
    margin-right: 10px;
  }
  
  .cart-product button {
    background-color: #ff3333;
    color: white;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .cart-product button:hover {
    background-color: #e60000;
  }
  
  .cart-summary {
    margin-top: 20px;
    border-top: 1px solid #ddd;
    padding-top: 15px;
  }
  
  .clear-btn {
    background-color: #e60000;
    color: white;
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 10px;
  }
  
  .clear-btn:hover {
    background-color: #cc0000;
  }
  
  .cart-checkout button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .cart-checkout button:hover {
    background-color: #45a049;
  }
  
  .subtotal {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-weight: bold;
    border-top: 1px solid #ddd;
    padding-top: 10px;
  }
  
  .amount {
    color: #4caf50;
  }
  